<div class="row">

    <% @groups.each do |group| %> 
        <div class="col-lg-3 col-xs-6">

        <div class="small-box bg-aqua">
            <div class="inner">


	  	<h4><%= group.name %></h4>
        <h4><%= group.id %></h4>
        <p>Member: <%= group.members %></p> 
		
        </div>

        </div>	

        </div>


    <% end %>


<div class="row">
	<div class="col-lg-3 col-xs-6">


    </div>